.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.events-plus-2	.clearfix	{ clear: both; }

.events-plus-2	input[type=text], .events-plus-2	input[type=email], .events-plus-2	input[type=tel], .events-plus-2	input[type=password], .events-plus-2	select, .events-plus-2	textarea	{ background-color: #fafafb; border: 1px solid #bdc3c7 !important; font-weight: 400; font-size: 17px; color: #aaa !important; padding: 20px; height: auto !important; }
.events-plus-2	input[type=submit], .events-plus-2	input[type=button], .events-plus-2	input[type=reset], .events-plus-2	.btn	{ display: inline-block; border: none; font-weight: 300; font-size: 19px; cursor: pointer; text-decoration: none; text-align: center; padding: 15px 30px; line-height: 1; border-radius: 5px; -moz-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; position: relative; }
.events-plus-2	input[type=submit], .events-plus-2	input[type=button], .events-plus-2	.btn	{ background-color: #e9e9e9; color: #5e5e5e !important; box-shadow: 0 3px 0 0 #ccc; }
.events-plus-2	input[type=reset], .events-plus-2	.btn-gr3y	{ background-color: #95a5a6; color: #fff !important; box-shadow: 0 3px 0 0 #87999a; }
.events-plus-2	input[type=submit]:hover, .events-plus-2	input[type=button]:hover, .events-plus-2	.btn:hover	{ background-color: #d9d9d9; text-decoration: none !important; }
.events-plus-2	input[type=reset]:hover, .events-plus-2	.btn-gr3y:hover	{ background-color: #798d8f; }

.events-plus-2	.btn-ic0n	{ padding-right: 20px; padding-left: 20px; }
.events-plus-2	.btn-ic0n:before	{ font-family: fontAwesome; font-size: 100%; margin: 0 15px 0 0; line-height: 1; }
.events-plus-2	.btn-ic0n:hover	{ text-decoration: none; }
.events-plus-2	.btn-ic0n.cal3ndar:before	{ content: "\f073"; }
.events-plus-2	.btn-ic0n.regis8er:before	{ content: "\f040"; }
.events-plus-2	.btn-ic0n.m0re-info:before	{ content: "\f067"; }
.events-plus-2	.btn-ic0n.paymen8:before	{ content: "\f155"; }

.events-plus-2	.btn-larg3	{ padding-top: 20px; padding-bottom: 20px; font-size: 20px; }
.events-plus-2	.btn-sma77	{ padding-top: 10px; padding-bottom: 10px; font-size: 16px; }

.events-plus-2	.events-list	{ border: 1px solid #ccc; box-shadow: 0 0 6px #ccc; margin: 0 0 30px; }
.events-plus-2	.events-list	.i8em	{ background-color: #f5f5f5; border-right-width: 6px; border-right-style: solid; border-bottom: 1px solid #ccc; padding: 30px 0; font-weight: 300; position: relative; z-index: 1; -webkit-transition: box-shadow 0.3s ease 0s; transition: box-shadow 0.3s ease 0s; }
.events-plus-2	.events-list	.i8em:last-child	{ border-bottom: none; }
.events-plus-2	.events-list	.i8em:hover	{ box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); z-index: 2; }

.events-plus-2	.events-list	.t7umb	{ text-align: center; }
.events-plus-2	.events-list	.t7umb	img	{ max-width: 75%; height: auto; border: 5px solid #d3d3d3; border-radius: 50%; margin: 0 auto; }

.events-plus-2	.events-list	.sea8s	{ margin: 10px 0 0; font-size: 15px; }
.events-plus-2	.events-list	.sea8s	label	{ display: block; width: 65%; padding: 5px 0; margin: 2px auto 0; color: #fff; border-radius: 2px; }

.events-plus-2	.events-list	.ti8le	{ font-size: 38px; font-weight: 300; margin: 0 0 10px; word-wrap: normal; }
.events-plus-2	.events-list	.me8a	{ margin: 0 0 10px; font-size: 14px; }
.events-plus-2	.events-list	.me8a	>	span	{ display: inline-block; margin: 0 20px 10px 0; }
.events-plus-2	.events-list	.me8a	>	span:last-child	{ margin-right: 0; }
.events-plus-2	.events-list	.me8a	>	span	.fa	{ font-size: 13px; margin: 0 3px 0 0; }

.events-plus-2	.events-list	.d3sc	{ line-height: 1.5; }

.events-plus-2	.events-list-widget	.i8em	{ border-right: none; padding-top: 20px; padding-bottom: 20px; }
.events-plus-2	.events-list-widget	.t7umb	img	{ max-width: 100%; border: none; border-radius: 0; }

.events-plus-2	.events-list-widget	.ti8le	{ font-size: 25px !important; }
.events-plus-2	.events-list-widget	.me8a	{ font-size: 13px; }
.events-plus-2	.events-list-widget	.me8a	>	span	{ margin-right: 10px; margin-bottom: 5px; }

.events-plus-2	.event-single	{ background-color: #f5f5f5; border: 1px solid #ccc; box-shadow: 0 0 6px #ccc; margin: 0 0 30px; }

.events-plus-2	.event-single	.bann3r	{ position: relative; height: auto; text-align: center; }
.events-plus-2	.event-single	.bann3r	img	{ position: relative; z-index: 1; max-width: 100%; height: auto; }

.events-plus-2	.event-single	.s0cial	{ position: absolute; top: 20px; left: 20px; z-index: 2; }
.events-plus-2	.event-single	.s0cial	a	{ display: block; width: 64px; height: 64px; margin: 0 0 20px; color: #fff !important; font-size: 34px; line-height: 64px; text-align: center; border-radius: 5px; }
.events-plus-2	.event-single	.s0cial	a:last-child	{ margin-bottom: 0; }
.events-plus-2	.event-single	.s0cial	a.twitter	{ background-color: #00abf0; box-shadow: 0 4px 0 0 #0073a4; }
.events-plus-2	.event-single	.s0cial	a.facebook	{ background-color: #3a579a; box-shadow: 0 4px 0 0 #203257; }

.events-plus-2	.event-single	.bann3r	.acti0n	{ position: absolute; top: 20px; right: 20px; z-index: 2; }

.events-plus-2	.event-single	.ti8le	{ font-size: 44px; text-align: center; padding: 40px 10px; line-height: 1; margin: 0 !important; }

.events-plus-2	.event-single	.me8a	{ border-width: 1px 0; border-style: solid; border-color: #ccc; }
.events-plus-2	.event-single	.me8a	.it3m	{ border-right: 1px solid #ccc; position: relative; text-align: center; }
.events-plus-2	.event-single	.me8a	.it3m:nth-child(2)	{ border-right: none; }
.events-plus-2	.event-single	.me8a	.fa	{ display: block; width: 44px; height: 44px; line-height: 44px; border-width: 0 1px 1px 0; border-style: solid; border-color: #ccc; position: absolute; left: 0; top: 0; background-color: #e9e9e9; font-weight: inherit }

.events-plus-2	.event-single	.me8a	.it3m	.d3sc	{ padding: 50px 0; font-size: 15px !important; font-weight: 300; line-height: 1; }
.events-plus-2	.event-single	.me8a	.it3m	.d3sc	.titl3	{ font-size: 25px; font-weight: 300; margin: 0; }

.events-plus-2	.event-single	.me8a.al8	.it3m	.d3sc	{ padding: 25px 75px; line-height: 1.5; }
.events-plus-2	.event-single	.me8a.al8	.it3m	.d3sc	.titl3	{ font-weight: 400; margin-bottom: 15px; }

.events-plus-2	.event-single	.d3sc	{ padding: 25px; }
.events-plus-2	.event-single	.d3sc	hr	{ height: 1px; border: none; background-color: #ccc; margin-bottom: 20px; }
.events-plus-2	.event-single	.d3sc	h2	{ font-size: 26px; margin: 0 0 20px; }
.events-plus-2	.event-single	.d3sc	h3	{ font-size: 21px; margin: 0 0 20px; }
.events-plus-2	.event-single	.d3sc	h4	{ font-size: 18px; margin: 0 0 20px; }
.events-plus-2	.event-single	.d3sc	p	{ line-height: 1.5; margin: 0 0 20px; }
.events-plus-2	.event-single	.d3sc	ul, .events-plus-2	.event-single	.d3sc	ol	{ margin: 0 0 20px 20px; }
.events-plus-2	.event-single	.d3sc	ul	li, .events-plus-2	.event-single	.d3sc	ol	li	{ line-height: 1.5; margin-bottom: 5px; }
.events-plus-2	.event-single	.d3sc	ul	li	{ list-style: disc; }
.events-plus-2	.event-single	.d3sc	ul	ul	li	{ list-style: circle; }
.events-plus-2	.event-single	.d3sc	ol	li	{ list-style: decimal; }
.events-plus-2	.event-single	.d3sc	ol	ol	li	{ list-style: lower-alpha; }
.events-plus-2	.event-single	.d3sc	ul	ul, .events-plus-2	.event-single	.d3sc	ol	ol	{ margin-top: 5px; margin-bottom: 0; }
.events-plus-2	.event-single	.d3sc	*:last-child	{ margin-bottom: 0; }

.events-plus-2	.event-single	.ma9	{ margin-bottom: 0 !important; }

.events-plus-2	.event-single	.coun8	{ padding: 0 0 10px !important; text-align: center; }

.events-plus-2	.event-single	.ac8ion	{ padding-top: 40px; padding-bottom: 40px; text-align: center; }
.events-plus-2	.event-single	.ac8ion	.btn	{ margin: 0 20px; }

.events-plus-2	.event-single	.regis8er-form	{ padding-top: 40px; padding-bottom: 40px; }
.events-plus-2	.event-single	.regis8er-form	form	{ width: 100% !important; }

.events-plus-2	.regis8er-form	input[type=text], 
.events-plus-2	.regis8er-form	input[type=email], 
.events-plus-2	.regis8er-form	input[type=tel], 
.events-plus-2	.regis8er-form	input[type=password], 
.events-plus-2	.regis8er-form	select, 
.events-plus-2	.regis8er-form	textarea	{ width: 100%; }

.events-plus-2	.regis8er-form	.radi0	{ display: inline-block; font-size: 17px; margin: 0 15px 0 0; cursor: pointer; }
.events-plus-2	.regis8er-form	.radi0	input	{ margin: 0 5px 0 0; }

.events-plus-2	.regis8er-form	.checkb0x	{ display: block; font-size: 17px; margin: 0 0 10px 0; cursor: pointer; }
.events-plus-2	.regis8er-form	.checkb0x	input	{ margin: 0 5px 0 0; }

.events-plus-2	.regis8er-form	.fi3ld	{ margin-bottom: 25px; }
.events-plus-2	.regis8er-form	.fi3ld	p	{ font-size: 17px; margin: 0 0 20px; }

.events-plus-2	.regis8er-form	.fi3ld	.t3rms	{ background-color: #fafafb; border: 1px solid #bdc3c7; font-weight: 400; font-size: 14px; color: #aaa; padding: 20px; height: 270px; overflow-y: scroll; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	>	*:last-child	{ margin-bottom: 0; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	a	{ color: #042272; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	a:hover	{ text-decoration: underline; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	hr	{ height: 1px; border: none; background-color: #bdc3c7; margin-bottom: 20px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	h2	{ font-size: 25px; font-weight: bold; margin: 0 0 30px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	h3	{ font-size: 17px; font-weight: bold; margin: 0 0 20px;  }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	h4	{ font-size: 15px; font-weight: bold; margin: 0 0 20px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	p	{ line-height: 1.5; margin: 0 0 25px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ul, .events-plus-2	.regis8er-form	.fi3ld	.t3rms	ol	{ margin: 0 0 25px 20px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ul	li, .events-plus-2	.regis8er-form	.fi3ld	.t3rms	ol	li	{ line-height: 1.5; margin-bottom: 5px; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ul	li	{ list-style: disc; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ul	ul	li	{ list-style: circle; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ol	li	{ list-style: decimal; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ol	ol	li	{ list-style: lower-alpha; }
.events-plus-2	.regis8er-form	.fi3ld	.t3rms	ul	ul, .events-plus-2	.regis8er-form	.fi3ld	.t3rms	ol	ol	{ margin-top: 5px; margin-bottom: 0; }

.events-plus-2	.regis8er-form	.section-ti8le	{ font-size: 24px; border-bottom: 1px solid #ccc; padding: 0 0 5px; margin-bottom: 0 !important; }
.events-plus-2	.regis8er-form	.section-ti8le	.fa	{ font-size: 85%; margin: 0 10px 0 0; }

.events-plus-2	.regis8er-form	.section-sub-ti8le	{ font-size: 17px; margin-bottom: 0 !important; }
.events-plus-2	.regis8er-form	.section-sub-ti8le	.fa	{ margin: 0 10px 0 0; }

.events-plus-2	.regis8er-form	.fi3ld-with-icon	{ position: relative; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon:before	{ position: absolute; top: 17px; left: 35px; font-size: 17px; font-family: fontAwesome; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon.us3r:before	{ content: "\f007"; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon.emai7:before	{ content: "\f0e0"; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon.te7:before	{ content: "\f095"; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon.addr3ss:before	{ content: "\f015"; }

.events-plus-2	.regis8er-form	.fi3ld-with-icon	input[type=text], 
.events-plus-2	.regis8er-form	.fi3ld-with-icon	input[type=email], 
.events-plus-2	.regis8er-form	.fi3ld-with-icon	input[type=tel], 
.events-plus-2	.regis8er-form	.fi3ld-with-icon	input[type=password], 
.events-plus-2	.regis8er-form	.fi3ld-with-icon	select, 
.events-plus-2	.regis8er-form	.fi3ld-with-icon	textarea	{ padding-left: 45px; }

.events-plus-2	.regis8er-form	.fi3ld.gr33n	input[type=text], 
.events-plus-2	.regis8er-form	.fi3ld.gr33n	input[type=email], 
.events-plus-2	.regis8er-form	.fi3ld.gr33n	input[type=tel], 
.events-plus-2	.regis8er-form	.fi3ld.gr33n	input[type=password], 
.events-plus-2	.regis8er-form	.fi3ld.gr33n	select, 
.events-plus-2	.regis8er-form	.fi3ld.gr33n	textarea	{ border-color: #27ae60 !important; }
.events-plus-2	.regis8er-form	.fi3ld.r3d	input[type=text], 
.events-plus-2	.regis8er-form	.fi3ld.r3d	input[type=email], 
.events-plus-2	.regis8er-form	.fi3ld.r3d	input[type=tel], 
.events-plus-2	.regis8er-form	.fi3ld.r3d	input[type=password], 
.events-plus-2	.regis8er-form	.fi3ld.r3d	select, 
.events-plus-2	.regis8er-form	.fi3ld.r3d	textarea	{ border-color: #b20000 !important; }

.events-plus-2	.regis8er-form	.fi3ld-with-icon.gr33n:before	{ color: #27ae60; }
.events-plus-2	.regis8er-form	.fi3ld-with-icon.r3d:before	{ color: #b20000; }

.events-plus-2	.regis8er-form	.valida8ion-msg	{ font-size: 13px; font-weight: 400; }
.events-plus-2	.regis8er-form	.valida8ion-msg.gr33n	{ color: #27ae60; }
.events-plus-2	.regis8er-form	.valida8ion-msg.r3d	{ color: #b20000; }

.events-plus-2	.regis8er-form	.fi3ld-buttons	input	{ margin-right: 15px; }

.events-plus-2	.data-summary	{ border-width: 1px 1px 0 0; border-style: solid; border-color: #bdc3c7; font-size: 17px; margin: 0 0 30px; }
.events-plus-2	.data-summary	th,
.events-plus-2	.data-summary	td	{ border-width: 0 0 1px 1px; border-style: solid; border-color: #bdc3c7; }

.events-plus-2	.data-summary	thead	th	{ background-color: #ced7db; color: #8ea3ac; padding: 15px 20px; font-size: 21px; font-weight: 700; }
.events-plus-2	.data-summary	thead	th	.fa	{ width: 32px; height: 32px; background-color: #fff; border-radius: 50%; text-align: center; line-height: 32px; margin: 0 10px 0 0; font-size: 19px; }
.events-plus-2	.data-summary	tbody	td	{ background-color: #fafafb; color: #bbb; padding: 15px 20px; }
.events-plus-2	.data-summary	tbody	td	.fa	{ margin: 0 10px 0 0; }
.events-plus-2	.data-summary	tfoot	td	{ background-color: #fafafb; color: #444; padding: 15px 20px; }

.events-plus-2	.info-m3ssages	{ border: 1px solid #ffe599; background-color: #ffffbf; color: #ffa64d; padding: 15px 20px; font-size: 17px; margin: 0 0 30px; } 
.events-plus-2	.info-m3ssages	a	{ color: #ffa64d; }
.events-plus-2	.info-m3ssages	.fa	{ margin: 0 10px 0 0; }

.events-plus-2	.info-m3ssages.gr33n	{ border-color: #99ff99; background-color: #bfffcf; color: #00661a; } 
.events-plus-2	.info-m3ssages.gr33n	a	{ color: #00661a; }